extends layouts/default

append vars
	- var page = 'index'
	- var description = 'Sample project structure used in manGoweb'

block content

	main.layout(role='main')

		.schemaviewer#schemaviewer
			h1.schemaviewer-title JSON Schema viewer

			textarea#schema.schemaviewer-source(placeholder='...paste JSON Schema here')

			pre#output.schemaviewer-output

		script.
			initComponents.push({
				name: 'schemaviewer',
				place: '#schemaviewer',
				data: {
					source: '#schema',
					target: '#output'
				}
			})



		p Brought to you by <a href="http://www.mangoweb.cz">manGoweb</a>

