extends layouts/default

append vars
	- var page = 'index'

block content

	main.layout(role='main')

		.schemaviewer#schemaviewer
			h1.schemaviewer-title JSON Schema viewer

			textarea#schema.schemaviewer-source(placeholder='...paste a JSON Schema here')

			pre#output.schemaviewer-output

		script.
			initComponents.push({
				name: 'schemaviewer',
				place: '#schemaviewer',
				data: {
					source: '#schema',
					target: '#output'
				}
			})
