doctype html
block vars
	- var title = 'JSON Schema viewer'
	- var description = 'Show JSON schema in more human readable form'
	- var keywords = 'JSON schema, manGoweb'

html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width,initial-scale=1')

		title=title

		meta(name='description', content=description)
		meta(name='keywords', content=keywords)
		meta(name='author', content='manGoweb s.r.o. <info@mangoweb.cz> (http://www.mangoweb.cz')

		link(rel='stylesheet', href='styles/index.css', media='screen')

		// Queue of JS components to initialize
		script initComponents = []

	body

		block header
		block content
		block footer
			footer.layout-footer Brought to you by <a href="http://www.mangoweb.cz">manGoweb</a>

		//- Application init
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js', defer)
		script(src='scripts/index.js', defer)
